# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Environment variables
.env
.env.*

# Django
db.sqlite3
/media/

# Logs
*.log
*.out
*.err

# Virtual environments
venv/
env/

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Celery beat schedule file
celerybeat-schedule

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# other
/config/media/pdfs/
.env
.pdf